@media(max-width:1580px) {
    .career-mega-menu {
        left: 31%;
        width: 35%;
    }
}

@media(max-width:1438px) {
    .career-mega-menu {
        width: 38%;
        overflow: auto;
    }

    .navbar-item:hover .career-mega-menu {
        opacity: 1;
        left: 30%;
        width: 70%;
        display: flex !important;
    }
}

@media(max-width:1160px) {
    .career-mega-menu {
        width: 44%;
        left: 22%;
    }


}

@media(max-width:1022px) {
    .header .navbar-custom.active {
        right: 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        top: 10rem;
        row-gap: 10px;
        transition: 0.4s linear;
    }

    .career-mega-menu {
        top: 10rem;
        width: 100%;
        left: 0%;
        background-color: white;
        overflow: auto;
        z-index: 100;
    }

    .sub-courses {
        top: 7rem;
        left: 26rem;
        z-index: 100;
    }
}

@media(max-width:767px) {
    .header .navbar-custom.active {
        top: 9rem;
    }

    .navbar-item:hover .career-mega-menu {
        top: 10rem;
        width: 100%;
        left: 0%;
        background-color: white;
        z-index: 100;
    }

    .career-courses {
        padding: 0px;
    }

    .sub-courses {
        top: 9rem;
        left: 0rem;
        z-index: 100;
        border: 1px solid #b15351b1;
    }
}